{% extends 'base.html' %}

{% block content %}
<div class="grid grid-cols-3 gap-4">

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/stream">
        <img class="rounded-t-lg" src="{{url_for('static',filename='images/handtracking.png')}}" alt="handtracking" />
    </a>
    <div class="p-5">
        <a href="/stream">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Handtracking</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Theo dõi bàn tay</p>
        <a href="/stream" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Thử ngay
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>




<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/stream_gesturevolume">
        <img class="rounded-t-lg" src="{{url_for('static',filename='images/gesturevolume.png')}}" alt="gesture volume" />
    </a>
    <div class="p-5">
        <a href="/stream_gesturevolume">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Gesture Volume</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Điều khiển âm lượng máy tính thông qua cứ chỉ của bàn tay</p>
        <a href="/stream_gesturevolume" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Thử ngay
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>




<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/stream_count_finger">
        <img class="rounded-t-lg" src="{{url_for('static',filename='images/countfinger.png')}}" alt="count finger" />
    </a>
    <div class="p-5">
        <a href="/stream_count_finger">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Count finger</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Đếm số ngón tay trên 1 bàn tay</p>
        <a href="/stream_count_finger" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Thử ngay
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>


<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/stream_face_tracking">
        <img class="rounded-t-lg" src="{{url_for('static',filename='images/facetracking.png')}}" alt="face tracking" />
    </a>
    <div class="p-5">
        <a href="/stream_face_tracking">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Face Tracking</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Theo dõi cử động khuôn mặt</p>
        <a href="/stream_face_tracking" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Thử ngay
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>


<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/stream_pose_tracking">
        <img class="rounded-t-lg" src="{{url_for('static',filename='images/posetracking.png')}}" alt="Pose Tracking" />
    </a>
    <div class="p-5">
        <a href="/stream_pose_tracking">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pose Tracking</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Theo dõi cử động cơ thể</p>
        <a href="/stream_pose_tracking" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Thử ngay
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>


<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/detection_realtime">
        <img class="rounded-t-lg" src="{{url_for('static',filename='images/objectrealtime.png')}}" alt="detection realtime" />
    </a>
    <div class="p-5">
        <a href="/detection_realtime">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Detection Realtime</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nhận diện vật thể thời gian thực/p>
        <a href="/detection_realtime" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Thử ngay
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>


<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/detection_video">
        <img class="rounded-t-lg" src="{{url_for('static',filename='images/objectvideo.png')}}" alt="detection video" />
    </a>
    <div class="p-5">
        <a href="/detection_video">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Detection Video</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nhận diện vật thể qua video tải lên</p>
        <a href="/detection_video" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Thử ngay
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>




</div>
{% endblock %}